/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Lexend:wght@100..900&display=swap');

/* Start screen styles */
#start-screen {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e0f18;
    color: white;
    font-family: "Cabin Sketch", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#start-screen h1 {
    padding: 2rem;
    text-align: center;
    font-size: 5rem;
}

#start-screen:hover {
    cursor: pointer;
}


/* Loading screen styles */
#loading-screen, #game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e0f18fa;
    color: white;
    font-family: "Cabin Sketch", sans-serif;
}

#text-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    text-align: center;
    padding: 2rem;
}

#title-holder h1 {
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

#loading-screen h1 {
    animation: start-rotate 0.8s infinite;
}

/* Animation for loading screen title */
@keyframes start-rotate {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

#text-holder h2 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

#text-holder h3 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

#text-holder h4 {
    font-style: italic;
    padding: 1rem;
    margin: none;
    font-size: 1.25rem;
}

#start-button, #end-button {
    background: white;
    border: 1px solid #2e0f18;
    padding: 1rem;
    margin: none;
    color: #2e0f18;
    font-family: "Cabin Sketch", sans-serif;
    border-radius: 10rem;
    font-size: 1.25rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

#start-button:hover, #end-button:hover {
    background: rgb(150, 150, 150);
    cursor: pointer;
}

button:focus {
    outline: none;
}

/* Scoreboard styles */
#score-board, #volume {
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #2e0f18;
    color: white;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    border: none;
}

#score-board {
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
}

#score-board:hover, #volume:hover {
    background: #562030;
}

#score-board p, #volume p {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Volume button styles */
#volume {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1rem;
}

#volume svg {
    height: 3rem;
}

#volume:hover {
    cursor: pointer;
}

/* Game over screen styles */
#game-over-screen {
    display: none;
    background: #2e0f18ba;
}

#game-over-screen #title-holder {
    padding: 0.7rem 2rem;
    border-radius: 10px;
    background: #2e0f18;
    margin-bottom: 0.5rem;
}

#game-over-screen h1 {
    animation: end-shake 0.5s infinite;
    margin: 0;
}

/* Animation for game over screen title */
@keyframes end-shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-2px, 2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, -2px); }
    100% { transform: translate(2px, 2px); }
}

#game-over-screen h2 {
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    background: #2e0f18;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

#game-over-screen h3 {
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    background: #2e0f18;
    font-size: 2rem;
}

#game-over-screen h4 {
    margin: 0;
}