/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Lexend:wght@100..900&display=swap');

/* Loading screen styles */
#loading-screen, #game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e0f18fa;
    color: white;
    font-family: "Cabin Sketch", sans-serif;
}

#text-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    text-align: center;
    padding: 2rem;
}

#text-holder h1 {
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

#text-holder h2 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

#text-holder h3 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

#text-holder h4 {
    font-style: italic;
    padding: 1rem;
    margin: none;
    font-size: 1.25rem;
}

#start-button, #end-button {
    background: white;
    border: 1px solid #2e0f18;
    padding: 1rem;
    margin: none;
    color: #2e0f18;
    font-family: "Cabin Sketch", sans-serif;
    border-radius: 10rem;
    font-size: 1.25rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#start-button:hover, #end-button:hover {
    background: rgb(150, 150, 150);
    cursor: pointer;
}

/* Scoreboard styles */
#score-board {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    margin-right: 2rem;
    margin-top: 1rem;
    z-index: 100;
    background: #2e0f18;
    color: white;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 2rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#score-board:hover {
    background: #562030;
}

#score-board p {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Game over screen styles */
#game-over-screen {
    display: none;
    background: #2e0f18ba;
}

#game-over-screen h1 {
    padding: 0.7rem 2rem;
    border-radius: 10px;
    background: #2e0f18;
    margin-bottom: 0.5rem;
}

#game-over-screen h2 {
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    background: #2e0f18;
    margin-bottom: 0.5rem;
}

#game-over-screen h3 {
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    background: #2e0f18;
    font-size: 2rem;
}

#game-over-screen h4 {
    margin: 0;
}